.CheckoutContainer{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    max-width: 100vw;
}



.formContainer{
    padding: 1rem 2rem;
    border-right: 1px solid lightgrey;
    width: 60%;
    @media (max-width:870px) {
        width: 100%;
        order: 1;
    }
}

.formContainer input{
    background-color: white;
    border: 1px solid lightgrey;
    padding: 20px 10px;
    margin: 0.6rem 0.5rem;
    border-radius: 10px;
    outline: none;
}

.firstName, .lastName{
    width: 45%;
}

.address{
    width: calc(90% + 1rem);
}

.city, .state, .pincode{
    width: calc((90% - 1rem)/3);
}

.phone{
    width: calc(90% + 1rem);
}

.buyNow{
    padding: 20px 20px;
    border: none;
    background-color: black;
    color: white;
    width: 90%;
    margin: 1rem;
    cursor:pointer;
}

.billContainer{
    width: 40%;
    padding: 2rem  3rem;
    @media (max-width:870px) {
        width: 100%;
        order: 0;
    }

}

.productsContainer, .amountContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.productsContainer{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
    flex-wrap:wrap;
}

.productsContainer img{
    width: 3rem;
    height: 4.5rem;
    object-fit: cover;
}

.titleContainer{
    width: 60%;
    font-size: 0.9rem;
}

.amountContainer{
    font-size: 0.9rem;
}