.navbarContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.logoCont{
    width: 150px;
}

.menuCont{
    list-style: none;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.menuCont li{
    position: relative;
}

.icons{
    font-size: 1.6rem;
}

.cartCountCont{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.7rem;
    text-align: center;
    background-color: rgb(199, 88, 88);
    color: white;
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
}